table.center {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td.center {
    text-align: center;
}

tr.old {
    background-color: #d1d1d1;
}

td.maxwide {
    max-width: 450px;
}

.popover {
    position: relative;
    z-index: 1;
    width: 295px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    margin-right: -80px;
}