<html ng-app="randoApp">
    <head>
        <meta charset="utf-8">
        <title>Video Game Randomizers</title>
        <link href="index.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
        <script src="angjs.js"></script>
    </head>
    <body ng-controller="RandoCtrl">
        <h1>Video Game Randomizers</h1>
        <h3>About</h3>
        <p>
        This site is a semi-comprehensive and accessible list of video game randomizers. A randomizer is a program that randomizes or shuffles specific data in a video game to create a unique experience for players each and every time they play the game.
        </p>
        <h3>Contribute</h3>
        <p>
        If you would like to see a randomizer added to this list, you can submit the following Google Form. Alternatively, you can join the <a href="https://discordapp.com/invite/tEGFUZW">Randomizer Central Discord</a>, a great place to discuss existing randomizer and how to develop new randomizers. If you'd like to contribute directly to this project, the <a href="https://github.com/slashinfty/randomizers">source code</a> is available.
        </p>
        <h3>Search</h3>
        <p>
        Use the following search box to search the entire list. You can also click on headers to sort the table.
        </p>
        <p>
        Note about platforms: Multi = multiplatform (available offline for Windows, Mac OS, and/or Linux). Web = browser-based/online. Win = Windows-only. Mac = Mac OSX only.
        </p>
        <p>
        If a randomizer has a gray background, it has been depreciated and its features are available in other randomizers for the same game.
        </p>
        <p class="mobile">Search: <input ng-model="query" type="text" size="64"/></p>
        <table class="center">
            <tr>
                <th><a href="" ng-click="sortField = 'system'">System</a></th>
                <th><a href="" ng-click="sortField = 'name'">Game</a></th>
                <th><a href="" ng-click="sortField = 'source'">Source</a></th>
                <th><a href="" ng-click="sortField = 'platform'">Platform</a></th>
            </tr>
            <tr ng-repeat="randomizer in randomizers | filter:query | orderBy:sortField" ng-class="randomizer.old ? 'old' : 'new'">
                <td class="maxwide2">{{randomizer.system}}</td>
                <td ng-if="randomizer.hasOwnProperty('note')" class="maxwide"><a href="{{randomizer.url}}">{{randomizer.name}}</a> - <a href="" ng-click="isNoteOpen = !isNoteOpen"><em>Notes</em></a><p ng-show="isNoteOpen" class="mobile">{{randomizer.note}}</p></td>
                <td ng-if="!randomizer.hasOwnProperty('note')" class="maxwide"><a href="{{randomizer.url}}">{{randomizer.name}}</a></td>
                <td ng-if="randomizer.hasOwnProperty('source')" class="center"><a href={{randomizer.source}}>Source</td>
                <td ng-if="!randomizer.hasOwnProperty('source')"><a href={{randomizer.source}}></td>
                <td ng-if="randomizer.platform === 'multi'" class="center">Multi</td>
                <td ng-if="randomizer.platform === 'online'" class="center">Online</td>
                <td ng-if="randomizer.platform === 'windows'" class="center">Win</td>
                <td ng-if="randomizer.platform === 'mac'" class="center">Mac</td>
            </tr>
        </table>
    </body>
</html>